@model CTI.ViewModels.SuperAdminHomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}


<div class="br-pagetitle">
    <i class="icon fas fa-light fa-user"></i>
    <div>
        <h4>المستخدمين</h4>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
@*     <div class="row row-sm">
        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="PrepareUsers">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-user tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">فريق الاعداد</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.PrepareTeam.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
    
        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="MediaUsers">
                <div class="bg-purple rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-user tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">فريق الميديا </p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.MediaTeam.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 --> *@
    </div>
   

</div><!-- br-pagebody -->
<hr />
<div class="br-pagetitle">
    <i class="icon fas fa-light fa-file-word"></i>
    <div>
        <h4>المواد العلمية</h4>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
@*     <div class="row row-sm">
        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Book">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-file tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">الكتب</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Books.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0">
            <a asp-action="Index" asp-controller="Branch">
                <div class="bg-purple rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-file tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">الفروع</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Branches.Count()</p>
                        </div>
                    </div>
                    <div id="ch3" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0">
            <a asp-action="Index" asp-controller="File">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-file-word tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">المواد العلمية</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.BFiles.Count()</p>
                        </div>
                    </div>
                    <div id="ch3" class="ht-50 tr-y-1"></div>
                </div>
            </a>

        </div><!-- col-3 --> *@
    </div>

    <div class="br-pagetitle">
        <div>
        </div>
    </div><!-- d-flex -->

    <div class="row row-sm">
        @* <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0">
            <a asp-action="Index" asp-controller="AccMaterial">
                <div class="bg-success rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-check fa-3x tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">المواد المقبولة</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.accCounter</p>
                        </div>
                    </div>
                    <div id="ch3" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0">
            <a asp-action="Index" asp-controller="RejectedMaterial">
                <div class="bg-danger rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-times fa-3x tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">المواد المرفوضة</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Rejected</p>
                        </div>
                    </div>
                    <div id="ch3" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div>
    </div> *@

    




</div><!-- br-pagebody -->
<hr />
<div class="br-pagetitle">
    <i class="icon fas fa-light fa-building"></i>
    <div>
        <h4>المطابع </h4>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody mb-3">


    @* <div class="row row-sm">

        <div class="col-sm-3 col-xl-3 mg-t-20 mg-sm-t-0">
            <a asp-action="Index" asp-controller="PrintType">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-file tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">انواع المطبوعات</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.PrintTypes.Count()</p>
                        </div>
                    </div>
                    <div id="ch3" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->


        <div class="col-sm-3 col-xl-3 mb-3">
            <a asp-action="Index" asp-controller="Printing">
                <div class="bg-purple rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-building tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">المطابع</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Users.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
        <div class="col-sm-3 col-xl-3 mb-3">
            <a asp-action="Index" asp-controller="OrderPrinting">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-file-invoice tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">مراجعة الطلبات</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Libraries.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
        <div class="col-sm-3 col-xl-3 mb-3">
            <a asp-action="Index" asp-controller="Payment">
                <div class="bg-purple rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-receipt tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة الفواتير </p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Payments.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

    </div><!-- row --> *@


</div><!-- br-pagebody -->